body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  margin: 1rem auto;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  user-select: none;
}

.message {
  color: black;
  padding: 0;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
}

.message .has-data {
  display: none;
}

.message .has-error {
  color: red;
}

.message .no-data {
  color: yellow;
}

.filter-form {
  margin: 1rem auto;
  padding: 0.5rem;
  width: 70%;
  box-shadow: 0 0 1rem 8px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  color: white;
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  user-select: none;
}

.field {
  text-align: center;
}

.field > label {
  margin: 0.2rem auto;
}

.field > select {
  display: block;
  margin: 0.1rem auto;
  padding: 0.5rem;
  border-radius: 0.375rem;
  width: 80%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem auto;
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
  column-gap: 1.5rem;
  overflow-y: hidden;
  text-align: center;
}

.wrapper > h3 {
  user-select: none;
}

.projects-wrapper,
.profile-card {
  margin: 0.8rem auto;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0 0 1rem 8px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  user-select: none;
}

.profile-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.profile-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid black;
  height: 60px;
  padding: 0.3rem;
  align-items: center;
}

.profile-info:last-child {
  border: none;
}

.profile-info > p:first-child {
  margin-left: 1rem;
  color: gray;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.profile-info > p:last-child {
  color: gray;
  font-size: 1rem;
  font-style: italic;
}

.projects-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  word-wrap: break-word;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: gray;
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

.projects-row:hover {
  background-color: lightslategray;
}

.projects-row > p {
  border: 1px solid gray;
  padding: 1rem 0.3rem;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.projects-row:hover > p {
  color: black;
}

.projects-row.head {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 10;
  text-transform: uppercase;
  text-align: center;
}

.projects-row > h4 {
  border: 1px solid gray;
  padding: 1rem 0.3rem;
  color: white;
}
